{% extends 'main.html.twig' %}
{% block customcss %}
    <style>
        .extrasmall {font-size:10px;}
        .today_class {background-color:green;color:#fff;}
        .everyday_class {}
        .bold {font-weight:bold;}
    </style>
{% endblock %}
{% block moduletitle %}Attendance{% endblock %}
{% block main %}
    {% set studentNumber = 0 %}
    <table class="table table-bordered table-sm table-compact table-striped">
        <tr><th>#</th><th>Student</th><th>Absence ID</th><th>Date</th><th>Session</th><th>Status</th><th>Action</th><th>Code</th>
            <th>Note</th><th>Type</th><th>Student Group</th><th>Advisor</th><th>Student Department</th><th>Course</th><th>Teacher</th><th>Teacher Department</th></tr>
                {% for absence in absences %}
                    {% set studentNumber = studentNumber + 1 %}
            <tr>
                <td>{{ studentNumber }}</td>
                <td>{{ absence.item.id }}</td>
                <td><a href='/faculty/attendance/student/{{ absence.item.student.id }}'>{{ absence.item.student.lastnameTurkmen }} {{ absence.item.student.firstnameTurkmen }}</a></td>
                <td>{{ absence.item.date|date('d.m.Y')}}</td>
                <td>{{ absence.item.session }}</td>
                <td>{{ absence.status }}</td>
                {% if absence.status == 'duplicate' %}
                    <td><a href='/custom/deleteabsence/{{ absence.item.id }}' target="_blank">Delete</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ absence.code }}</td>
                <td>{{ absence.item.note }}</td>
                <td>{{ absence.item.classType.letterCode }}</td>
                <td><a href='/faculty/attendance/group/{{ absence.item.student.studentgroup.id }}'>{{ absence.item.student.studentgroup.letterCode }}</a></td>
                <td>{{ absence.item.student.studentgroup.advisor.shortfullname }}</td>
                <td><a href='/faculty/attendance/department/{{ absence.item.student.department.id }}'>{{ absence.item.student.department.letterCode }}</a></td>
                <td>{{ absence.item.course.nameEnglish }}</td>
                <td><a href='/faculty/attendance/teacher/{{ absence.item.author.id }}'>{{ absence.item.author.shortfullname }}</a></td>
                <td>{{ absence.item.author.department.letterCode }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block customjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-item.present').click(function (e) {
                send_attendance($(this).attr('data-id'), 'present');
            });
            $('.dropdown-item.absent').click(function (e) {
                send_attendance($(this).attr('data-id'), 'absent');
            });
            $('.dropdown-item.note').click(function (e) {
                send_attendance($(this).attr('data-id'), 'note');
            });
            $('#btnCourse').click(function (e) {
                send_attendance($(this).attr('data-id'), 'teacher');
            });
        });

        function send_attendance(id, action)
        {
            console.log(id);
            var absence = $("#data" + id).data("absence");
            console.log(absence);

            absence_note_new = absence.note;
            if (action == "note")
            {
                $('#action').val('note');
                var absence_note_input = prompt("Please enter note", absence.note);
                absence_note_new = absence_note_input;
            }

            $('#action').val(action);
            $('#div_id').val(id);
            $('#absence_id').val(absence.id);
            $('#student_id').val(absence.student_id);
            $('#course_id').val(absence.course_id);
            $('#teacher_id').val(absence.teacher_id);
            $('#absence_date').val(absence.date);
            $('#absence_session').val(absence.session);
            $('#absence_note').val(absence_note_new);
            $('#absence_status').val(absence.status);
            $('#absence_type').val(absence.type);

            send_data();
            if (action == 'present')
                $("#data" + id).html("<img src='/build/images/attendance_check_icon.png'>");
            else if (action == 'absent')
                $("#data" + id).html("<img src='/build/images/attendance_cross_icon.png'>");
        }

        function send_data()
        {
            p = '/faculty/attendance/process';
            var inputs = $("#mainform").serialize();
            console.log(inputs);
            //return;
            $.ajax({
                type: "POST",
                url: p,
                data: inputs,
                success: function (msg) {
                    //$("#status").css("visibility","visible").html(msg);
                    $("#info" + $('#div_id').val()).html(msg);
                }});
        }
    </script>
{% endblock %}