{% extends 'main.html.twig' %}

{% block moduletitle %}Department Work Load{% endblock %}
{% block customcss %}
    <style>
        .verticaltext {
            -webkit-transform: rotate(-90deg);
            text-align: center;
            vertical-align: middle;
        }
        .extrasmall {font-size:11px;}
        .studyProgramRow {font-size:12px;}
        .editable {border:0px;width:25px;}
        .low { color: #d6d6d4;}
        .normal {color: black;}
        .green {color:green;}
        .red {font-size:15px; font-weight:bold; background-color:#fab9af !important; color:#000; border: 2px dashed #000;}
        .blue {font-size:15px; font-weight:bold; background-color:#97b7fc !important;color:#000; border: 2px double #000;}
    </style>
{% endblock %}
{% block main %}
    {% set workloadNames = ['1.00', '0.75', '0.50', '0.25', 'other', 'hourly','replacement'] %}
    <div style="margin:auto;"><h5>Department Work Load: {{ department.nameEnglish }} for {{ year }}-{{ year+1 }}</h5> 
        <a href='/faculty/departmentworkitem/department/{{ department.systemId }}/{{ year }}/0'>Normal mode</a> | 
        <a href='/faculty/departmentworkitem/department/{{ department.systemId }}/{{ year }}/1'>Vacancy mode</a> | 
        <a href='/faculty/departmentworkitem/department/{{ department.systemId }}/{{ year }}/2'>Print mode</a> | 
        <a href='/faculty/departmentworkitem/department/{{ department.systemId }}/{{ year }}/3'>Program mode</a>
    </div>
    <div style="margin:auto;">
        {% set yearPartname = 'semester' %}
        {% if yearpartCount==3 %}
            {% set yearPartname = 'trimester' %}
        {% endif %}
        {% for yearpart in yearparts %}
            <table id='table{{ yearpart.yearpart }}' class="table table-sm table-bordered table-hover extrasmall">
                <thead>
                    <tr><td colspan="34"><h6>{{ yearPartname|title }} {{ yearpart.yearpart }}</h6></td></tr>
                    <tr>
                        {% for z in 1..29 %}
                            <th style='vertical-align:middle;'>{{ workcolumnNames[z] }}</th>
                            {% endfor %}
                    </tr>
                    <tr>
                        {% for z in 1..29 %}
                            <th>{{ z }}</th>
                            {% endfor %}
                    </tr>
                </thead>
                <tbody class='sortable'>
                    {% set itemNumber = 0 %}
                    {% for item in yearpart.items %}
                        {% set itemNumber = itemNumber+1 %}
                        <tr data-field='{"table_id":"{{ yearpart.yearpart }}", "workitem_id":"{{ item.workitem.id }}", "view_order":"{{ item.workitem.vieworder }}"}'>
                            <td>{{ itemNumber }}</td>
                            <td><span id="fieldvalue2_{{ item.workitem.id }}">{{ item.workitem.title }}</span> 
                                {% if editable==true %}
                                    {% if viewmode!=2 %}
                                        {#                                        <span>[{{ item.workitem.vieworder }}]</span>#}
                                        <a href='javascript:deleteItem({{ item.workitem.id }});'>Delete</a>
                                        <a href="javascript:duplicateRow({{ item.workitem.id }},4);">Duplicate</a> 
                                        <a href="javascript:changeOrder({{ item.workitem.id }});">Reorder</a> 
                                        <a href="javascript:changeGroups({{ item.workitem.id }},'{{ item.workitem.studentGroups }}');">Regroup</a> 
                                        <a href='/faculty/departmentworkitem/editindepartment/{{ item.workitem.id }}/{{ department.systemid }}'>Edit</a> 
                                        <a href="javascript:getGroupCount({{ item.workitem.id }},4);">Recount</a>
                                        <a href="javascript:calculate({{ item.workitem.id }},{{ item.workitem.type }},[{{ item.lecturehours }},{{ item.practicehours }},{{ item.labhours }}]);">Calculate</a>
                                        <a href="javascript:saveRow({{ item.workitem.id }},4);">Save</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <span id="fieldvalue3_{{ item.workitem.id }}">{% for group in item.groups %}{{ group.letterCode }}({{ group.totalStudentCount }}){% if loop.last==false %}, {% endif %}{% endfor %}</span>
                            </td>
                            <td>
                                {% if viewmode!=2 %}
                                    <input type="text" class="editable" name="fieldvalue4_{{ item.workitem.id }}" 
                                           id="fieldvalue4_{{ item.workitem.id }}" 
                                           data-field='{"workitem_id":"{{ item.workitem.id }}", "field":"4"}' 
                                           value="{% if item.workitem.data[4]==0 %}{{ item.studyyear }}{% else %}{{ item.workitem.data[4] }}{% endif %}"><br>
                                    <span id="info4_{{ item.workitem.id }}"></span>
                                {% else %}
                                    {% if item.workitem.data[4]==0 %}{{ item.studyyear }}{% else %}{{ item.workitem.data[4] }}{% endif %}
                                {% endif %}</td>
                            </td>
                            <td>
                                {% if viewmode!=2 %}
                                    <input type="text" class="editable" name="fieldvalue5_{{ item.workitem.id }}" 
                                           id="fieldvalue5_{{ item.workitem.id }}" 
                                           data-field='{"workitem_id":"{{ item.workitem.id }}", "field":"5"}' 
                                           value="{% if item.workitem.data[5]==0 %}{{ item.studentcount }}{% else %}{{ item.workitem.data[5] }}{% endif %}"><br><span id="info5_{{ item.workitem.id }}"></span>
                                    {% else %}
                                        {% if item.workitem.data[5]==0 %}{{ item.studentcount }}{% else %}{{ item.workitem.data[5] }}{% endif %}
                                    {% endif %}</td>
                            </td>
                            {% for i in 6..29 %}
                                {% if item.workitem.data[i] is defined %}
                                    {% if item.workitem.data[i]==0 %}
                                        {% set colorclass="low" %}
                                    {% else %}
                                        {% set colorclass="normal" %}
                                    {% endif %}
                                    <td>
                                        {% if viewmode!=2 %}
                                            <input type="text" class="editable {{ colorclass }}" name="fieldvalue{{ i }}_{{ item.workitem.id }}" 
                                                   id="fieldvalue{{ i }}_{{ item.workitem.id }}" 
                                                   data-field='{"workitem_id":"{{ item.workitem.id }}", "field":"{{ i }}"}' 
                                                   value="{{ item.workitem.data[i] }}"><br><span id="info{{ i }}_{{ item.workitem.id }}"></span>
                                            {% else %}
                                                {% if item.workitem.data[i]>0 %}
                                                    {{ item.workitem.data[i] }}
                                                {% endif %}
                                            {% endif %}
                                    </td>
                                    {#{% else %}
                                <td><input type="text" class="editable" name="fieldvalue{{ i }}_{{ item.workitem.id }}" 
                                           id="fieldvalue{{ i }}_{{ item.workitem.id }}" 
                                           data-field='{"workitem_id":"{{ item.workitem.id }}", "field":"{{ i }}"}' 
                                           value="34"><br><span id="info{{ i }}_{{ item.workitem.id }}"></span></td>#}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% if viewmode==3 %}
                            {% for programCourse in item.programcourses %}
                                <tr>
                                    <td></td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<a href='/faculty/programcourse/editinprogram/{{ programCourse.id }}/{{ programCourse.studyProgram.id }}'>{{ programCourse.nameTurkmen }}</a>
                                    </td>
                                    <td>
                                        {{ programCourse.studyProgram.letterCode }}
                                    </td>
                                    <td>
                                        {{ programCourse.credits }}
                                    </td>
                                    <td></td>
                                    {% for i in 6..29 %}
                                        {% if i==9 %}
                                            <td>{{ programCourse.lectureHours }}</td>
                                        {% elseif i==11 %}
                                            <td>{{ programCourse.practiceHours }}</td>
                                        {% elseif i==13 %}
                                            <td>{{ programCourse.labHours }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if viewmode==1 %}
                            {% set itemNumber = itemNumber + 1 %}
                            {% for teacherWorkItem in item.workitem.teacherWorkItems %}
                                {% if teacherWorkItem.workload!=6 %}
                                <tr>
                                    <td></td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<a href='/faculty/teacherworkitem/teacher/{{ teacherWorkItem.teacher.id }}/{{ year }}/{{ teacherWorkItem.workload }}'>{{ teacherWorkItem.teacher.fullname }}</a> 
                                        {% if teacherWorkItem.teacher is not null and teacherWorkItem.teacherWorkSet is not null %}
                                            (<a href='/faculty/teacherworkset/view/{{ teacherWorkItem.teacher.id }}/{{ teacherWorkItem.teacherWorkSet.id }}/{{ year }}'>{{ workloadNames[teacherWorkItem.workload] }}</a>)
                                        {% else %}
                                            <span class='red'>(No workset or teacher)</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ teacherWorkItem.groupLetterCodes }}
                                    </td>
                                    <td>
                                        {{ teacherWorkItem.id }}
                                    </td>
                                    <td>{{ teacherWorkItem.studentcount }}</td>
                                    {% for i in 6..29 %}
                                        {% if teacherWorkItem.data[i] is defined %}
                                            {% if teacherWorkItem.data[i]==0 %}
                                                {% set colorclass="low" %}
                                            {% else %}
                                                {% set colorclass="normal" %}
                                            {% endif %}
                                            <td>{{ teacherWorkItem.data[i] }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;Wakansiýa</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                {% for i in 6..29 %}
                                    {% if item.vacancy[i] is defined %}
                                        {% if item.vacancy[i]<0 %}
                                            {% if i != 11 %}
                                                {% set colorclass="red" %}
                                            {% endif %}
                                        {% elseif item.vacancy[i]>0 %}
                                            {% set colorclass="blue" %}
                                        {% else %}
                                            {% set colorclass="normal" %}
                                        {% endif %}
                                        <td class="{{ colorclass }}">{{ item.vacancy[i] }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {%  endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>Jemi</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% for z in 9..29 %}
                            <td>{{ yearpart.sums[z] }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td colspan="34">
                            <a href='/faculty/departmentworkitem/editindepartment/0/{{ department.systemid }}/{{ year }}/{{ yearpart.yearpart }}'>Add work item</a> |
                            <a href="javascript:saveViewOrder({{ yearpart.yearpart }});">Save order</a>
                            <div id='vieworderdiv{{ yearpart.yearpart }}'></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            {% if groupcourses|length>0 %}
                <table class="table table-sm table-bordered table-hover extrasmall" style="width: auto;">
                    {% for groupcourse in groupcourses %}
                        {% if (yearpartCount==2 and (groupcourse.semester is odd)==(yearpart.yearpart is odd)) or (yearpartCount==3 and (groupcourse.semester==yearpart.yearpart)) %}
                            {#                        {% if groupcourse.semester==yearpart.yearpart %}#}
                            <tr><td>{{ groupcourse.course }}</td>
                                <td>{{ groupcourse.group.letterCode }}</td>
                                <td>{{ groupcourse.group.totalStudentCount }}</td>
                                <td>{{ groupcourse.semester }}</td>
                                <td>{{ groupcourse.code }}</td>
                                <td>
                                    <a href='/faculty/departmentworkitem/editindepartment/0/{{ department.systemid }}/{{ year }}/{{ yearpart.yearpart }}/{{ groupcourse.course }}/{{ groupcourse.code }}'>Add course</a> |
                                    <a href="javascript: addFast('unassigned{{ groupcourse.code }}','/faculty/departmentworkitem/addfast/0/{{ department.systemid }}/{{ year }}/{{ yearpart.yearpart }}/{{ groupcourse.course }}/{{ groupcourse.code }}/0/{{ groupcourse.group.letterCode }}/{{ groupcourse.group.totalStudentCount }}');">Add fast</a>
                                    <div id='unassigned{{ groupcourse.code }}'></div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        {% endfor %}
        <h4>JEMI</h4>
        <table class="table table-sm table-bordered extrasmall">
            <thead>
                <tr>
                    {% for z in 1..29 %}
                        <th style='vertical-align:middle;'>{{ workcolumnNames[z] }}</th>
                        {% endfor %}
                </tr>
                <tr>
                    {% for z in 1..29 %}
                        <th>{{ z }}</th>
                        {% endfor %}
                </tr>
            </thead>
            <tbody>
                {%  for yearpart in yearparts  %}
                    <tr>
                        <td></td>
                        <td>{{ yearpart.yearpart }} {{ yearPartname }}  jemi</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% for z in 9..29 %}
                            {% if yearpart.sums[z]==0 %}
                                {% set colorclass="low" %}
                            {% else %}
                                {% set colorclass="normal" %}
                            {% endif %}
                            <td class="{{ colorclass }}">{{ yearpart.sums[z] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Okuw ýyly boýunça umumy jem</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% for z in 9..29 %}
                        {% if totalsums[z]==0 %}
                            {% set colorclass="low" %}
                        {% else %}
                            {% set colorclass="normal" %}
                        {% endif %}
                        <td class="{{ colorclass }}">{{ totalsums[z] }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <br><h4>Ýüklenen</h4>
        <table class="table table-sm table-bordered extrasmall">
            <thead>
                <tr>
                    {% for z in 1..29 %}
                        <th style='vertical-align:middle;'>{{ workcolumnNames[z] }}</th>
                        {% endfor %}
                </tr>
                <tr>
                    {% for z in 1..29 %}
                        <th>{{ z }}</th>
                        {% endfor %}
                </tr>
            </thead>
            <tbody>
                {%  for yearpart in yearparts  %}
                    <tr>
                        <td></td>
                        <td>{{ yearpart.yearpart }} {{ yearPartname }}  wakansiýa jemi</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% for z in 9..29 %}
                            {% if yearpart.assignedSums[z]==0 %}
                                {% set colorclass="low" %}
                            {% else %}
                                {% set colorclass="normal" %}
                            {% endif %}
                            <td class="{{ colorclass }}">{{ yearpart.assignedSums[z] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Okuw ýyly boýunça umumy Ýüklenen jem</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% for z in 9..29 %}
                        {% if totalAssignedSums[z]==0 %}
                            {% set colorclass="low" %}
                        {% else %}
                            {% set colorclass="normal" %}
                        {% endif %}
                        <td class="{{ colorclass }}">{{ totalAssignedSums[z] }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <br><h4>Wakansiýa</h4>
        <table class="table table-sm table-bordered extrasmall">
            <thead>
                <tr>
                    {% for z in 1..29 %}
                        <th style='vertical-align:middle;'>{{ workcolumnNames[z] }}</th>
                        {% endfor %}
                </tr>
                <tr>
                    {% for z in 1..29 %}
                        <th>{{ z }}</th>
                        {% endfor %}
                </tr>
            </thead>
            <tbody>
                {%  for yearpart in yearparts  %}
                    <tr>
                        <td></td>
                        <td>{{ yearpart.yearpart }} {{ yearPartname }}  wakansiýa jemi</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% for z in 9..29 %}
                            {% if yearpart.vacancySums[z]==0 %}
                                {% set colorclass="low" %}
                            {% else %}
                                {% set colorclass="normal" %}
                            {% endif %}
                            <td class="{{ colorclass }}">{{ yearpart.vacancySums[z] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Okuw ýyly boýunça umumy Wakansiýa jem</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% for z in 9..29 %}
                        {% if totalVacancySums[z]==0 %}
                            {% set colorclass="low" %}
                        {% else %}
                            {% set colorclass="normal" %}
                        {% endif %}
                        <td class="{{ colorclass }}">{{ totalVacancySums[z] }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% for yearpart in yearparts %}
            <table class="table table-sm table-bordered table-hover extrasmall">
                <thead>
                    <tr><td colspan="34"><h6>{{ yearPartname|title }} {{ yearpart.yearpart }}</h6></td></tr>
                    <tr>
                        {% for z in 1..29 %}
                            <th style='vertical-align:middle;'>{{ workcolumnNames[z] }}</th>
                            {% endfor %}
                    </tr>
                    <tr>
                        {% for z in 1..29 %}
                            <th>{{ z }}</th>
                            {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set itemNumber = 0 %}
                    {% for item in yearpart.items %}
                        {% set itemNumber = itemNumber+1 %}
                        <tr>
                            <td>{{ itemNumber }}</td>
                            <td><span id="fieldvalue2_{{ item.workitem.id }}">{{ item.workitem.title }}</span> 
                            </td>
                            <td>
                                <span id="fieldvalue3_{{ item.workitem.id }}">{% for group in item.groups %}{{ group.letterCode }}({{ group.totalStudentCount }}){% if loop.last==false %}, {% endif %}{% endfor %}</span>
                            </td>
                            <td>
                                {% if viewmode!=2 %}
                                    <input type="text" class="editable" name="fieldvalue4_{{ item.workitem.id }}" 
                                           id="fieldvalue4_{{ item.workitem.id }}" 
                                           data-field='{"workitem_id":"{{ item.workitem.id }}", "field":"4"}' 
                                           value="{% if item.workitem.data[4]==0 %}{{ item.studyyear }}{% else %}{{ item.workitem.data[4] }}{% endif %}"><br>
                                    <span id="info4_{{ item.workitem.id }}"></span>
                                {% else %}
                                    {% if item.workitem.data[4]==0 %}{{ item.studyyear }}{% else %}{{ item.workitem.data[4] }}{% endif %}
                                {% endif %}</td>
                            </td>
                            <td>
                                {% if viewmode!=2 %}
                                    <input type="text" class="editable" name="fieldvalue5_{{ item.workitem.id }}" 
                                           id="fieldvalue5_{{ item.workitem.id }}" 
                                           data-field='{"workitem_id":"{{ item.workitem.id }}", "field":"5"}' 
                                           value="{% if item.workitem.data[5]==0 %}{{ item.studentcount }}{% else %}{{ item.workitem.data[5] }}{% endif %}"><br><span id="info5_{{ item.workitem.id }}"></span>
                                    {% else %}
                                        {% if item.workitem.data[5]==0 %}{{ item.studentcount }}{% else %}{{ item.workitem.data[5] }}{% endif %}
                                    {% endif %}</td>
                            </td>
                            {% for i in 6..29 %}
                                {% if item.vacancy[i] is defined %}
                                    {% if item.vacancy[i]<0 %}
                                        {% if i != 11 %}
                                            {% set colorclass="red" %}
                                        {% else %}
                                            {% set colorclass="normal" %}
                                        {% endif %}
                                    {% elseif item.vacancy[i]>0 %}
                                        {% set colorclass="blue" %}
                                    {% else %}
                                        {% set colorclass="low" %}
                                    {% endif %}
                                    <td class="{{ colorclass }}">{{ item.vacancy[i] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {%  endfor %}
                    <tr>
                        <td></td>
                        <td>Jemi</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% for z in 9..29 %}
                            <td>{{ yearpart.vacancySums[z] }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endfor %}
        <br><br>
    </div>
    {% set fieldtype='hidden' %}
    <form id='mainform' name='mainform'>
        <input type="{{ fieldtype }}" size=10 name='action' id='action' placeholder='action' value=''>
        <input type="{{ fieldtype }}" size=10 name='div_id' id='div_id' placeholder='div_id' value=''>
        <input type="{{ fieldtype }}" size=10 name='workitem_id' id='workitem_id' placeholder='workitem_id' value=''>
        <input type="{{ fieldtype }}" size=10 name='field' id='field' placeholder='field' value=''>
        <input type="{{ fieldtype }}" size=10 name='value' id='value' placeholder='value' value=''>
        <input type="{{ fieldtype }}" size=10 name='bigdata' id='bigdata' placeholder='value' value=''>
    </form>
{% endblock %}
{% block customjs %}
    <script>
        var countsGlobal = {{ counts }};
                jQuery(document).ready(function () {
            $('.editable').on('keypress', function (e) {
                if (e.which === 13) {
                    console.log($(this).attr("name"));
                    var field = $(this).data("field");
                    saveRow(field.field, field.workitem_id);
                }
            });

            $(".sortable").sortable({
                //update: function (event, ui) {
                //    console.log(ui.item.attr("data-field"));
                //    var field = ui.item.data("field");
                //    updateTableOrder(field.table_id);
                //}
            });
            $(".sortable").disableSelection();
        });

        function saveViewOrder(table_id)
        {
            var i = 1;
            arrPairs = Array();
            $('#vieworderdiv' + table_id).html('Saving ...');
            $('#table' + table_id + ' tbody tr').each(function () {
                var field = $(this).data("field");
                field.view_order = i;
                //console.log(field.workitem_id + ':' + field.view_order);
                arrPairs.push(field.workitem_id + ':' + field.view_order)
                i++;
            });
            strPairs = arrPairs.join("|");

            p = '/faculty/departmentworkitem/savevieworder/' + strPairs;
            var inputs = null;
            //console.log(p);
            //return;
            $.ajax({
                type: "GET",
                url: p,
                data: inputs,
                success: function (msg) {
                    //console.log(msg);
                    $('#vieworderdiv' + table_id).html(msg);
                },
                error: function (request, status, error) {
                    //console.log(request.responseText);
                    $('#vieworderdiv' + table_id).html(request.responseText);
                },
            });

        }

        function calculate(id, type, counts)
        {
            $("#fieldvalue9_" + id).val(counts[0]);
            $("#fieldvalue10_" + id).val(counts[0] * $("#fieldvalue6_" + id).val());
            $("#fieldvalue11_" + id).val(counts[1]);
            $("#fieldvalue12_" + id).val(counts[1] * $("#fieldvalue7_" + id).val());
            $("#fieldvalue13_" + id).val(counts[2]);
            $("#fieldvalue14_" + id).val(counts[2] * $("#fieldvalue7_" + id).val());
            $("#fieldvalue15_" + id).val(0);
            $("#fieldvalue16_" + id).val(Math.floor($("#fieldvalue5_" + id).val() * countsGlobal[4]));
            $("#fieldvalue17_" + id).val(Math.floor($("#fieldvalue5_" + id).val() * countsGlobal[5]));
            if (countsGlobal[8] == 0)
            {
                $("#fieldvalue18_" + id).val(Math.ceil($("#fieldvalue5_" + id).val() * countsGlobal[6]));
            } else
            {
                $("#fieldvalue18_" + id).val(Math.floor($("#fieldvalue5_" + id).val() * countsGlobal[6]));
            }
            $("#fieldvalue21_" + id).val(0);
            if (type == 0)
            {
                $("#fieldvalue15_" + id).val(countsGlobal[3]);
                $("#fieldvalue21_" + id).val(Math.floor($("#fieldvalue5_" + id).val() * countsGlobal[7]));
            }
            if (type == 1)
            {
                $("#fieldvalue9_" + id).val(0);
                $("#fieldvalue10_" + id).val(0);
                $("#fieldvalue16_" + id).val(Math.floor($("#fieldvalue5_" + id).val() * countsGlobal[4]));
                $("#fieldvalue17_" + id).val(0);
                $("#fieldvalue18_" + id).val(0);
            }
            if (type > 1)
            {
                $("#fieldvalue9_" + id).val(0);
                $("#fieldvalue10_" + id).val(0);
                $("#fieldvalue11_" + id).val(0);
                $("#fieldvalue16_" + id).val(0);
                $("#fieldvalue17_" + id).val(0);
                $("#fieldvalue18_" + id).val(0);
            }
            $("#fieldvalue29_" + id).val(calculateSum(id, type));
        }

        function duplicateRow(row, field)
        {
            $("#fieldvalue29_" + row).val(calculateSum(row, 0));
            $('#div_id').val("#info" + field + "_" + row);
            $('#workitem_id').val(row);
            $('#field').val(field);
            $('#value').val($("#fieldvalue" + field + "_" + row).val());
            $('#bigdata').val(createrowdata(row));

            console.log(row);
            //console.log($('#bigdata').val());
            send_data('duplicate');
        }

        function saveRow(row, field)
        {
            $("#fieldvalue29_" + row).val(calculateSum(row, 0));
            $('#div_id').val("#info" + field + "_" + row);
            $('#workitem_id').val(row);
            $('#field').val(field);
            $('#value').val($("#fieldvalue" + field + "_" + row).val());
            $('#bigdata').val(createrowdata(row));

            console.log(row);
            //console.log($('#bigdata').val());
            send_data('updatefield');
        }

        function createrowdata(workitem_id)
        {
            arrValues = Array();
            for (i = 2; i < 4; i++)
            {
                arrValues.push(i + ":" + $("#fieldvalue" + i + "_" + workitem_id).html());
            }
            for (i = 4; i < 30; i++)
            {
                arrValues.push(i + ":" + $("#fieldvalue" + i + "_" + workitem_id).val());
            }
            return arrValues.join("|");
        }

        function addFast(divid, url)
        {
            p = url;
            var inputs = null;
            //console.log(inputs);
            //return;
            $.ajax({
                type: "GET",
                url: p,
                data: inputs,
                success: function (msg) {
                    //console.log(msg);
                    $('#' + divid).html(msg);
                }});
        }

        function getGroupCount(workitem_id)
        {
            p = '/faculty/departmentworkitem/groupcount/' + workitem_id;
            var inputs = null;
            //console.log(inputs);
            //return;
            $.ajax({
                type: "GET",
                url: p,
                data: inputs,
                success: function (msg) {
                    console.log(msg);
                    arrValues = msg.split("|");
                    $('#fieldvalue5_' + workitem_id).val(arrValues[0]);
                    $('#fieldvalue7_' + workitem_id).val(arrValues[1]);
                    $('#info4_' + workitem_id).html('updated:' + msg);
                }});
        }

        function changeOrder(workitem_id)
        {
            //console.log('working');
            //return;
            var newOrder = prompt("Enter new order?)", 0);
            //var r = confirm("Do you confirm?");
            if (newOrder)
            {
                p = '/faculty/departmentworkitem/changeorder/' + workitem_id + '/' + newOrder;
                var inputs = null;
                //console.log(inputs);
                //return;
                $.ajax({
                    type: "GET",
                    url: p,
                    data: inputs,
                    success: function (msg) {
                        console.log(msg);
                        $('#info4_' + workitem_id).html('updated:' + newOrder);
                    }});
            }
        }

        function changeGroups(workitem_id, groups)
        {
            //console.log('working');
            //return;
            var newGroups = prompt("Enter new order?)", groups);
            //var r = confirm("Do you confirm?");
            if (newGroups)
            {
                p = '/faculty/departmentworkitem/changegroups/' + workitem_id + '/' + newGroups;
                var inputs = null;
                console.log(p);
                //return;
                $.ajax({
                    type: "GET",
                    url: p,
                    data: inputs,
                    success: function (msg) {
                        console.log(msg);
                        $('#info4_' + workitem_id).html('updated:' + newGroups);
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    },
                });
            }
        }

        function deleteItem(workitem_id)
        {
            //console.log('working');
            //return;
            var r = confirm("Delete really? " + workitem_id);
            if (r)
            {
                p = '/faculty/departmentworkitem/delete/' + workitem_id;
                var inputs = null;
                console.log(p);
                //return;
                $.ajax({
                    type: "GET",
                    url: p,
                    data: inputs,
                    success: function (msg) {
                        $('#info4_' + workitem_id).html(msg['Result'] + ' deleted:' + workitem_id);
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
                });
            }
        }

        function send_data(action)
        {
            p = "/faculty/departmentworkitem/" + action + "/";
            var inputs = $("#mainform").serialize();
            //console.log(inputs);
            //return;
            $.ajax({
                type: "POST",
                url: p,
                data: inputs,
                success: function (msg) {
                    //console.log(msg);
                    $($('#div_id').val()).html(msg);
                }});
        }

        function calculateSum(id, type)
        {
            var sum = 0;
            sum += parseInt($("#fieldvalue10_" + id).val());
            sum += parseInt($("#fieldvalue12_" + id).val());
            sum += parseInt($("#fieldvalue14_" + id).val());
            for (i = 15; i < 29; i++)
            {
                sum += parseInt($("#fieldvalue" + i + "_" + id).val());
            }
            return sum;
        }


    </script>
{% endblock %}{# empty Twig template #}
