{% extends 'main.html.twig' %}
{% block customcss %}
    <style>
        .extrasmall {font-size:10px;}
        .main {font-family:Times New Roman; vertical-align:middle;}
        .boldtext {font-weight: bold;}
        @page {
            size: auto;
        }
        .header {vertical-align:middle;}
    </style>
{% endblock %}
{% block moduletitle %}Faculty Attendance Daily Report{% endblock %}
{% block main %}
    {% set today_session=0 %}
    {% set today_type=0 %}
    <div class="no-print" style="margin:auto;text-align:center;">
        {#                {% set months = ['Ýanwar','Fewral','Mart','Aprel','Maý','Iýun','Iýul','Awgust','Sentýabr','Oktýabr','Noýabr','Dekabr'] %}#}
        <select id='cbxDate' onchange='selectDate();'>
            {% for i in 1..31 %}
                {% if i<10 %}
                    <option value='{{ checkDate|date('Y') }}-{{ checkDate|date('m') }}-0{{ i }}'>{{ checkDate|date('Y') }}-{{ checkDate|date('m') }}-0{{ i }}</option>
                {% else %}
                    <option value='{{ checkDate|date('Y') }}-{{ checkDate|date('m') }}-{{ i }}'>{{ checkDate|date('Y') }}-{{ checkDate|date('m') }}-{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select> <button onclick="download('template_facultyreport_daily.xlsx', 'faculty_report_daily.xls', 8)">xlsx</button>
    </div><p>
    <div class='main'>
        <div style='text-align:center; font-weight:bold;'>
            <h7>Halkara ynsanperwer ylymlary we ösüş uniwersitetiniň<br><span class='excellable' data-excel='{"cell":"A2"}'>{{ faculty.nameTurkmen }} boýunça gündelik okuwa gelmedik talyplaryň </span><br>SANAWY</h7></div>
        <table class='table table-bordered' id="datatable">
            <thead>
                <tr>
                    <th rowspan='2' colspan='1' style='vertical-align:middle;'>T/b</th>
                    <th rowspan='2' colspan='1' style='vertical-align:middle;'>Talyp ID</th>
                    <th rowspan='2' colspan='1' style='vertical-align:middle;'>Talybyň F.A.A.a.</th>
                    <th rowspan='2' colspan='1' style='vertical-align:middle;'>Hünäri we ýyly</th>
                    <th rowspan='1' colspan='4' style='vertical-align:middle;'>Wagty (irden/öýlän)</th>
                    <th rowspan='2' colspan='1' style='vertical-align:middle;'>Gelmedik senesi</th>
                    <th rowspan='2' colspan='1' style='vertical-align:middle;'>Gelmändiginiň sebäbi</th>
                </tr>
                <tr>
                    <th style='vertical-align:middle;'>8.30:09:10 /<br> 12.50-13:30</th>
                    <th style='vertical-align:middle;'>9:20-10:00 /<br> 13:40-14:20</th>
                    <th style='vertical-align:middle;'>10:10-10:50 /<br> 14:30-15:10</th>
                    <th style='vertical-align:middle;'>11:10-11:50 /<br> 15:20-16:00</th>
                </tr>
            </thead>
            {{ content|raw }}
        </table>
    </div>
    <div class="main" style='text-align:center;margin:auto;border:0px solid red;font-weight:bold;'>
        <table style='width:auto;margin:auto;text-align:left;'>
            <tr>
                <td width="300">
                    <span class='excellable' data-excel='{"cell":"C9"}'>{{ faculty.NameTurkmen }}</span>
                </td>
                <td width="200">&nbsp;</td>
                <td>
                    <span class='excellable' data-excel='{"cell":"H9"}'></span>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block customjs %}
    <script>
        // $(document).ready(function () {

        function selectDate()
        {
            window.location.href = "/faculty/attendance/facultydailyreport/" +  {{ faculty.id }} +"/" + $('#cbxDate').val();
        }

        function download(templatefile, filename, startrow) {
            special_cells = Array();
            //add special cells
            $('.excellable').each(function (i, obj) {
                //test
                //console.log(obj);
                //console.log($(this).data('excel'));
                special_cells.push([$(this).data('excel').cell, $(this).html()]);
            });
            //console.log(special_cells);
            //return;
            rows = Array();
            var targetParams = [
                [0, 'A'],
                [1, 'B'],
                [2, 'C'],
                [3, 'D'],
                [4, 'E'],
                [5, 'F'],
                [6, 'G'],
                [7, 'H'],
                [8, 'I'],
                [9, 'J'],
                [10, 'K'],
                [11, 'L'],
                [12, 'M'],
                [13, 'N'],
                [14, 'O'],
                [15, 'P'],
                [16, 'Q'],
                [17, 'R'],
                [18, 'S']
            ];
            //console.log(targetParams.length);
            $('.excellablerow').each(function () {
                row = Array();
                for (i = 0; i < targetParams.length; i++)
                {
                    //console.log(i);
                    item = targetParams[i];
                    //console.log($(this).find("td").eq(item[0]).html());
                    row.push([item[1], $(this).find("td").eq(item[0]).html()]);
                }
                rows.push(row);
            });
            footerRow = $('#footerrow');
            footerRowData = Array();
            for (i = 0; i < targetParams.length; i++)
            {
                //console.log(i);
                item = targetParams[i];
                //console.log($(this).find("td").eq(item[0]).html());
                footerRowData.push([item[1], footerRow.find("td").eq(item[0]).html()]);
            }
            //console.log(footerRowData);
            //return;
            // Data to post
            data = {
                template: templatefile,
                filename: filename,
                special_cells: special_cells,
                startrow: startrow,
                rows: rows,
                footerRowData: footerRowData,
                lightcolor: '000000'
            };

            // Use XMLHttpRequest instead of Jquery $ajax
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                var a;
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    // Trick for making downloadable link
                    a = document.createElement('a');
                    a.href = window.URL.createObjectURL(xhttp.response);
                    // Give filename you wish to download
                    a.download = filename;
                    a.style.display = 'none';
                    document.body.appendChild(a);
                    a.click();
                }
            };
            // Post data to URL which handles post request
            xhttp.open("POST", '/interop/exporter/postdata');
            xhttp.setRequestHeader("Content-Type", "application/json");
            // You should set responseType as blob for binary responses
            xhttp.responseType = 'blob';
            xhttp.send(JSON.stringify(data));
        }
        //});
    </script>
{% endblock %}